.button {
    padding-inline: 24px;
    height: 55px;
    background-color: var(--clr-teal);
    border: 1px solid var(--clr-teal);
    border-radius: 0;
    transition: all 0.15s ease-in-out;
}

@media screen and (min-width: 769px) {
    .button {
        padding-inline: 25px;
        min-width: 161px;
        height: 61px;
    }
}

.button:is(:hover, :focus) {
    color: var(--clr-teal);
    background-color: transparent;
}