.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 32px;
    padding-inline: 16px;
    background-color: var(--clr-purple);
}

@media screen and (min-width: 481px) {
    .header {
        padding-block: 37px;
        padding-inline: 39px;
    }
}

@media screen and (min-width: 1036px) {
    .header {
        padding-block: 58px;
        padding-inline: max(39px, calc(50% - 518px))
    }
}

.link {
    position: relative;
    color: var(--clr-white-pri);
}

.link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--clr-teal);
}