.apply {
    margin-inline: 16px;
    margin-top: 100px;
    margin-bottom: 10px;
    max-width: 1114px;
}

@media screen and (min-width: 695px) {
    .apply {
        display: grid;
        grid-template-columns: 281px 1fr;
        margin-inline: 40px;
    }
}

@media screen and (min-width: 1194px) {
    .apply {
        margin-inline: auto;
    }
}

.apply > img {
    display: block;
    width: 80%;
    height: auto;
    margin-inline: auto;
}

.apply > div {
    position: relative;
    padding: 32px;
    margin-top: -53px;
    color: var(--clr-white-pri);
    background-color: var(--clr-purple);
    z-index: 5;
}

.apply > div p {
    margin-top: 16px;
    margin-bottom: 24px;
}

@media screen and (max-width: 694px) {
    .apply > div {
        text-align: center;
    }

    .apply > div button {
        display: block;
        margin-inline: auto;
    }
}

@media screen and (min-width: 481px) {
    .apply > div p {
        margin-block: 24px;
    }
}

@media screen and (min-width: 695px) {
    .apply > img {
        width: 281px;
    }

    .apply > div {
        position: relative;
        margin-left: -106px;
        margin-top: 151px;
        padding: 56px;
        padding-top: 48px;
    }

    .apply > div::after {
        content: url(/bg-pattern-3.svg);
        position: absolute;
        bottom: -110px;
        right: 0;
    }

    .apply > div p {
        margin-block: 32px;
    }
}

@media screen and (min-width: 1043px) {
    .apply {
        grid-template-columns: 477px 1fr;
    }

    .apply > img {
        width: 477px;
    }
}