@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

:root {
  --clr-white-pri: #FFF;
  --clr-white-sec: #FCF8FF;
  --clr-teal: #44FFA1;
  --clr-grey: #584D62;
  --clr-purple: #24053E;
  --font-fam-head: 'Fraunces', 'Times New Roman', serif;
  --font-fam-body: 'Manrope', Arial, sans-serif;
  --font-head-lg: 600 50px/50px var(--font-fam-head);
  --font-head-md: 600 32px/48px var(--font-fam-head);
  --font-head-sm: 600 28px/36px var(--font-fam-head);
  --font-body: 16px/28px var(--font-fam-body);
  --font-link: bold 16px/32px var(--font-fam-body);
  --font-number: 600 20px/36px var(--font-fam-head);
  --space-link: -0.16px;
}

@media screen and (min-width: 481px) {
  :root {
    --font-head-lg: 600 60px/60px var(--font-fam-head);
    --font-head-md: 600 48px/56px var(--font-fam-head);
  }
}
@media screen and (min-width: 769px) {
  :root {
    --font-head-lg: 600 80px/80px var(--font-fam-head);
    --font-head-md: 600 56px/64px var(--font-fam-head);
    --font-head-sm: 600 32px/40px var(--font-fam-head);
    --font-body: 18px/32px var(--font-fam-body);
    --font-link: bold 18px/32px var(--font-fam-body);
    --space-link: -0.18px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: var(--font-body);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button,
a {
  font: var(--font-link);
  letter-spacing: var(--space-link);
}